@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat/Montserrat-Regular.ttf");

}
@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat/Montserrat-ExtraBold.ttf");
	font-weight: bold;
}

#logo {
	width:150px;
}

header {
	background: url("img/fond1.jpg") no-repeat;
	background-size: cover;
    padding-bottom: 100px;
}

.navbar {
	background: rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
}

.navbar a {
	color: white;
	font-weight: bold;
}

#callToAction {
	margin-top: 285px;
	font-family: Montserrat, Arial, sans-serif;
	font-weight: bold;
	color: white; 
	margin-left: 6%;
	font-size: 25px;
}

#callToAction h1
{
    letter-spacing: 8px;
    font-size: 100px;
    font-weight: inherit;
}

#callToAction p {
    font-weight: normal;
}

#callToAction a {
    margin-right:20px;
}

.text-inverted {
  	color: transparent;
   	-webkit-text-stroke: 4px white;
}

.btn {
    background-color: rgba(255, 76, 168, 0.5);
    border:1px solid white;
    color: white;
    text-align: center;
    width: 250px;
    border-radius: 15px;
}

.btn:hover {
    background-color: white;
    color: black;
}

hr { 	
    width: 500px;
	height: 15px;
	background-color: white; 
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fond {
	background-color: #049ee2;
	padding: 20px;
	font-family:  Montserrat, Arial, sans-serif;

}

p {
	display: inline;
}

.partenaires {
	margin: 120px 0;
}

.partenaires img {
    max-width: 100%;
}


/*------ JB ---*/
#img-presentation {
    width: 200px;
}

ul {
    list-style: none;
}

.title {
    padding-bottom: 5%;
    color:white;
    font: 40px bold;
}

#container-inscriptions {
    background-image: url("img/aurelien-designatic-240194-unsplash2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5%
}

.instruction {
    padding: 10%;
    background:white;
    max-width: 50%;
    text-align: center;
}

.icon {
    width:25%;
}

#container-inscriptions div .instruction {
    color:#049EE2;
}
/*---- JB -----*/

#news {
    color: white;
}

#news h2, #news a {
    text-align: center;
    color: white;
    z-index: 10;
}

#news article {
    background-size: cover;
    border-radius: 10px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 45px;
    margin: 20px 30px;
}

#news article::after {
    display: block;
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 2px solid white;
    border-radius: 10px;
}

.img-snow {
    background: url('img/news/carina-tysvaer-21855-unsplash.jpg');
}

.img-golf {
    background: url('img/news/fancycrave-270973-unsplash.jpg');
}

.img-aviron {
    background: url('img/news/josh-calabrese-236920-unsplash.jpg');
}

.read-news {
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
}

.read-news:hover {
    color: white;
    background: rgba(255, 255, 255, 0.4);
}

.title-underlined {
    position: relative;
    color: black;
    font-weight: bold;
    z-index: 1;
    text-transform: uppercase;
}

.title-underlined::after {
    content: '';
    position: absolute;
    width: 109%;
    height: 20px;
    bottom: 4px;
    left: -5px;
    transform: skew(-20deg);
    z-index: -1;
}

.title-underlined.yellow::after {
    background-color: yellow;
}

.title-underlined.pink::after {
    background-color: #f442aa;
}
